 .block {

	display: inline;
	list-style-type: none ;

}


.inline {
	display: block;
	margin: 25px 25px 25px 25px;
	border-width: 1px;

}

	 
.n-child section:nth-child(even)  {
	border-spacing:  1px ;
}