 .block {

	display: inline;
	list-style-type: none ;

}


.inline {
	display: block;
	margin: 25px 25px 25px 25px;
	border: 1px solid black;
}

	 
.n-child section:nth-child(even)  {
	border: 1px solid black;
}

